/* QuienesSomosBanner.css */

/* Tablet */
@media (max-width: 1024px) {
    .quienes-banner {
        width: 932.6px;
        height: 269.92px;
        padding: 0 20px;
    }

    .quienes-img {
        width: 470.16px;
        height: 255.62px;
        top: auto;
        bottom: 0;
    }

    .quienes-title {
        font-size: 60px;
        line-height: 70px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .quienes-banner {
        width: 100%;
        height: 269.92px;
        padding: 0 16px;
    }

    .quienes-img {
        width: 470.16px;
        height: 255.62px;
        top: auto;
        bottom: 0;
    }

    .quienes-title {

        font-size: 48px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: left;
        text-transform: uppercase;
    }
}